body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100%;
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: green;
    margin: 0 auto;
}
.navlist{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}
.navlist li{
    margin-top: 25px;
    height: 40px;
    width: 80px;
    background-color: blue;
    text-decoration: none;
    color: black;
}
.navlist li a{
    height: 20px;
    width: 50px;
    text-decoration: none;
}